.login-paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

div.login-avatar{
    margin: 10px;
    background-color: #FF0000;
}

.login-form{
    width: 100%, 
    
}
.login-submit {
    margin: 3px,
  }

 